# Dependencias del Monorepo
node_modules/
**/node_modules/

# Compilaciones y Cachés Temporales de Next.js
.next/
**/ .next/
out/

# Compilaciones y Cachés Temporales de NestJS
dist/
**/dist/

# Cachés de Turborepo
.turbo/
**/.turbo/

# Archivos de Registro e Historial
*.log
logs/
*.log.*
pnpm-debug.log*

# Entornos y Credenciales Privadas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup

# Archivos de Sistemas Operativos
.DS_Store
Thumbs.db
Desktop.ini

# Editores de Código e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
